<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="top.apricityx.workshop" />
        <package android:name="com.valvesoftware.android.steam.community" />
    </queries>

    <application
        android:name="io.stamethyst.StsApplication"
        android:allowBackup="true"
        android:appCategory="game"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:isGame="true"
        android:allowNativeHeapPointerTagging="false"
        android:icon="@mipmap/ic_launcher_amethyst"
        android:label="Slay the Amethyst"
        android:roundIcon="@mipmap/ic_launcher_amethyst_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SlayTheAmethyst"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="android.game_mode_config"
            android:resource="@xml/game_mode_config" />
        <meta-data
            android:name="com.android.app.gamemode.performance.enabled"
            android:value="true" />
        <meta-data
            android:name="com.android.app.gamemode.battery.enabled"
            android:value="true" />

        <activity
            android:name="io.stamethyst.StsGameActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:enableOnBackInvokedCallback="true"
            android:process=":game"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="33">

            <layout
                android:defaultWidth="1280dp"
                android:defaultHeight="720dp"
                android:minWidth="640dp"
                android:minHeight="360dp"
                android:gravity="center" />
        </activity>

        <activity
            android:name="io.stamethyst.backend.file_interactive.SafExportActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.SlayTheAmethyst.Dialog" />

        <service
            android:name="io.stamethyst.backend.launch.LaunchPreparationProcessService"
            android:exported="false"
            android:process=":prep" />

        <service
            android:name="io.stamethyst.backend.diag.DiagnosticsProcessService"
            android:exported="false"
            android:process=":diag" />

        <service
            android:name="io.stamethyst.backend.diag.LogcatCaptureService"
            android:exported="false"
            android:process=":logcat" />

        <service
            android:name="io.stamethyst.backend.diag.LauncherLogcatCaptureService"
            android:exported="false"
            android:process=":logcat" />

        <service
            android:name="io.stamethyst.backend.workshop.WorkshopDownloadProcessService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name="net.kdt.pojavlaunch.ExitActivity"
            android:exported="false"
            android:theme="@style/Theme.SlayTheAmethyst.Dialog" />

        <activity
            android:name="io.stamethyst.LauncherActivity"
            android:exported="true"
            android:enableOnBackInvokedCallback="false"
            tools:targetApi="33">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/java-archive" />
                <data android:mimeType="application/x-java-archive" />
                <data android:mimeType="application/jar" />
                <data android:mimeType="application/x-jar" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/java-archive" />
                <data android:mimeType="application/x-java-archive" />
                <data android:mimeType="application/jar" />
                <data android:mimeType="application/x-jar" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/java-archive" />
                <data android:mimeType="application/x-java-archive" />
                <data android:mimeType="application/jar" />
                <data android:mimeType="application/x-jar" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
